html {
    scroll-behavior: smooth;
}
html,
body,
ul,
p,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

#container {
    background: transparent;
    position: fixed;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    color: #fff;
    text-shadow: 0 0 2px #333;
    line-height: 1.5;
}
#name,
#name-shadow {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    /* background-color: rgba(255, 204, 255, .7); */
    background-color: #fff;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    -webkit-app-region: drag;  
}

#name-shadow {
    /* height: 20px; */
    z-index: 0;
    box-shadow: 0 0 3px #fcf;
}
#content {
    padding: 20px;
    background-color: rgba(255, 204, 255, .85);
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border-top-left-radius: 0;
    border: 3px solid #fff;
    box-shadow: 0 0 3px #fcf;
    font-size: 24px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.5;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
}
.menu-btn {
    background-color: rgba(255, 204, 255, 1);
    text-shadow: none;
    border-radius: 20px;
    border: 2px solid #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 0 3px #fcf;
    display: inline-block;
}